<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if show_stats %}
            NBAStatCard - {{ name }}
        {% else %}
            NBAStatCard
        {% endif %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="col s9 offset-s3" action="/" method="post" autocomplete="off">
                <div class="input-field col s7">
                    <input list="players" name="player_name" id="player_name" required="required">
                    <datalist id="players">
                        {% for name in player_list %}
                            <option value = "{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
            {% if show_stats%}
                <div class="col s12 valign center">
                    <h2>{{ name }}</h2>
                    <p class="grey-text text-lighten-1">{{ position }} | {{ team }} | {% if height_feet %}{{ height_feet }}-{{ height_inches }}{% else %} Height not available {% endif %} | {% if weight %}{{ weight }} lbs{% else %} Weight not available {% endif %}</p>
                </div>
                <div class="col s12 valign center m2">
                    <img src="{{ imageurl }}" class="circle responsive-img">
                </div>
                    <div class="col s6 offset-s3 m6 offset-m1">
                        <div class="card">
                            <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab"><a href="#tab1">Stats</a></li>
                                    <li class="tab"><a href="#tab2">%</a></li>
                                </ul>
                            </div>
                            <div class="card-content grey lighten-4">
                                <div id="tab1">
                                    <p><b>PTS: </b>{{ points }}</p>
                                    <p><b>RBS: </b>{{ rebounds }}</p>
                                    <p><b>AST: </b>{{ assists }}</p>
                                    <p><b>STL: </b>{{ steals }}</p>
                                    <p><b>BLK: </b>{{ blocks }}</p>
                                    <p><b>TOV: </b>{{ turnovers }}</p>
                                </div>
                                <div id="tab2">
                                    <p><b>FG: </b>{{ fg_pct }}%</p>
                                    <p><b>3PT: </b>{{ fg3_pct }}%</p>
                                    <p><b>FT: </b>{{ ft_pct }}%</p>
                                    <p><b>TS: </b>{{ ts }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col s12 valign center">
                    <img src={{ url_for('static',filename='stats_plot.png') }} class="responsive-img">
                </div>
                <div class="col s12 valign center">
                    <h4>Highlights</h4>
                        {% if not yt_vid_id %}
                            Highlight video not available right now, please try again later!
                        {% else %}
                            <div class="video-container">
                                <iframe id="ytplayer" type="text/html" width="480" height="360"
                                src="https://www.youtube.com/embed/{{ yt_vid_id }}?autoplay=1&mute=1"
                                frameborder="0"></iframe>
                            </div>
                        {% endif %}
                </div>
            {% elif error_message %}
                <div class="col s12 valign center">
                    <p>{{ error_message }}</p>
                </div>
            {% else %}
                <div class="col s12 valign center">
                    <h5>Search for any current NBA player to see their stat card and highlights!</h5>
                </div>
            {% endif %}
            <div class="col s12 valign center">
                <span class="grey-text text-lighten-1">Built with Flask and the <a href="https://materializecss.com/" target="_blank">Materialize</a> framework. Data obtained from <a href="https://www.balldontlie.io" target="_blank">balldontlie</a> API and <a href="https://www.basketball-reference.com/" target="_blank">basketball-reference</a>.</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
        });
    </script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>